@page "/books"
@inject IBookService BookService
@inject NavigationManager NavigationManager
<PageTitle>Listado de libros</PageTitle>

<h3>Listado de libros</h3>

<table class="table table-hover">
    <thead>
        <tr class="table-dark">
            <th>#</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Año publicación</th>
            <th>Precio</th>
            <th>Categoria</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in BookService.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.Prize</td>
                <td>@book.Category.Name</td>
                <td><button class="btn btn-primary" @onclick="(() => ShowBook(book.Id))"><i class="oi oi-magnifying-glass" aria-hidden="true"></i></button></td>
            </tr>
        }
    </tbody>
</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        await BookService.GetBooks();
    }

    void ShowBook(int id)
    {
        NavigationManager.NavigateTo($"book/{id}");
    }

}
