@page "/book"
@inject IBookService BookSerive
<PageTitle></PageTitle>

<h3>List of books</h3>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Autor</th>
            <th>Año publicación</th>
            <th>Precio</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in BookSerive.Books)
        {
            <tr>
                <td>@book.Id</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Year</td>
                <td>@book.Prize</td>
                <td>@book.Category.Name</td>s
            </tr>
        }
    </tbody>
</table>

@code {

    protected override async Task OnInitializedAsync()
    {
        await BookSerive.GetBooks();
    }

}
